/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* box sizing border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v10/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 400;
  src: local('Kodchasan Regular'), local('Kodchasan-Regular'), url(https://fonts.gstatic.com/s/kodchasan/v2/1cXxaUPOAJv9sG4I-DJWiHGA.ttf) format('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 700;
  src: local('Kodchasan Bold'), local('Kodchasan-Bold'), url(https://fonts.gstatic.com/s/kodchasan/v2/1cX0aUPOAJv9sG4I-DJeM1SQhuCs.ttf) format('truetype');
}
:root {
  font-size: 62.5%;
  font-family: "Kodchasan";
  color: #313237;
}
.content {
  margin: 0 auto;
}
/*
delete bottom navbar and search bar, home page instead of photo collections,
home page is marketing page
*/
.main-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  align-items: center;
  height: 6rem;
  z-index: 1;
}
.main-nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #313237;
}
.nav-separation {
  height: 6rem;
}
.left-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .left-nav .left-links {
    display: none;
  }
}
.left-nav .logo {
  width: 14rem;
  margin: 0 0.1rem 0 2.3rem;
}
.left-nav a {
  margin: 0 1rem 0;
}
.left-nav a:first-of-type {
  margin-left: 1rem;
}
.right-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .right-nav {
    display: none;
  }
}
.right-nav a {
  margin: 0 1.2rem 0;
  font-size: 1.6rem;
}
.hamburger {
  margin-right: 2rem;
  display: none;
}
@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }
}
.hamburger .hamburger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
  text-align: center;
  top: 6rem;
  right: -20rem;
  bottom: 0;
  transition: right 0.2s;
  z-index: 1;
}
.mobile-nav.visible {
  right: 0rem;
}
@media screen and (min-width: 600px) {
  .mobile-nav.visible {
    display: none;
  }
}
.mobile-nav a {
  color: #313237;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 2rem;
  width: 20rem;
}
.mobile-nav-login-signup {
  display: flex;
  flex-direction: column;
}
.mobile-nav-login-signup a {
  font-size: 3rem;
}
.jumbo {
  position: relative;
  margin-bottom: 5.8rem;
}
.jumbo img {
  width: 100%;
  max-height: 59rem;
  object-fit: cover;
}
.jumbo .cta {
  position: absolute;
  left: 15%;
  bottom: 10%;
}
.jumbo .cta p {
  font-family: "Anton";
  text-shadow: 0px 0px 8px #ffffff;
  font-size: 3rem;
  line-height: 6.6rem;
  margin-bottom: 6.7rem;
}
.jumbo .cta a {
  font-size: 2.3rem;
  text-decoration: none;
  color: #313237;
  background-color: #4DEDFF;
  padding: 0.3rem 7.5rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
}
.jumbo .cta a:hover {
  background-color: #A3F6FF;
}
.photos-container {
  margin: 0 3.5rem 0;
}
.photos-container h2 {
  font-size: 2.7rem;
  margin-bottom: 1.1rem;
  font-weight: bold;
}
.photos-container h3 {
  font-size: 2.3rem;
  margin-bottom: 5rem;
}
.top-photographs {
  display: flex;
  margin-bottom: 4.2rem;
}
.collection {
  width: 100%;
  margin-right: 1rem;
}
.collection:last-of-type {
  margin-right: 0;
}
.user-signature {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.user-signature img {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  border-radius: 100%;
}
.user-signature span {
  margin-left: 0.8rem;
  font-size: 1.2rem;
}
.top-photo-div {
  position: relative;
  width: 100%;
  margin-bottom: 0.7rem;
}
.top-photo-div img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
.img-cover {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.img-cover.visible {
  display: block;
}
.img-cover .like-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.img-cover .comment-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.recent-popular-buttons {
  display: flex;
  justify-content: flex-end;
}
.recent-popular-buttons a {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  margin-left: 2.5rem;
}
.us {
  margin: 2rem;
}
.us h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10rem;
}
.us-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.us-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.us-person h2 {
  font-size: 2.8rem;
}
.us-person img {
  margin: 2rem;
  width: 30rem;
  height: 30rem;
  border-radius: 100%;
  object-fit: cover;
  border: 0.2rem solid #313237;
}
.us-person a {
  display: inline-block;
  font-size: 2.3rem;
  text-decoration: none;
  color: #313237;
  background-color: #4DEDFF;
  padding: 0.3rem 0rem;
  width: 20rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
}
.us-person a:hover {
  background-color: #A3F6FF;
}
