// Photographers of the week
.photos-container {
  margin: 0 3.5rem 0;

  @media @mobile-view {
    margin: 0 2rem 0;
  }

  h2 {
    font-size: 2.7rem;
    margin-bottom: 1.1rem;
    font-weight: bold;
  }

  h3 {
    font-size: 2.3rem;
    margin-bottom: 5rem;
  }
}

.top-photographs {
  display: flex;
  margin-bottom: 4.2rem;

  @media @mobile-view {
    flex-direction: column;
  }
}

.collection {
  width: 100%;
  margin-right: 1rem;

  @media @mobile-view {
    margin: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.user-signature {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  img {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
    border-radius: 100%;
  }

  span {
    margin-left: 0.8rem;
    font-size: 1.2rem;
  }
}

.top-photo-div {
  position: relative;
  width: 100%;
  margin-bottom: 0.7rem;

  img {
    width: 100%;
    height: 40rem; // 22.4rem
    object-fit: cover;
  }
}

.img-cover {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.visible {
    display: block;
  }

  .like-button {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }

  .comment-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
// Recent and popular
.recent-popular-buttons {
  display: flex;
  justify-content: flex-end;

  a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    margin-left: 2.5rem;
  }
}