.jumbo {
  position: relative;
  margin-bottom: 5.8rem;

  img {
    width: 100%;
    max-height: 59rem;
    object-fit: cover;
  }

  .cta {
    position: absolute;
    left: 15%;
    bottom: 10%;

    p {
      font-family: "Anton";
      text-shadow: 0px 0px 8px rgba(255,255,255,1);
      font-size: 3rem;
      line-height: 6.6rem;
      margin-bottom: 6.7rem;
    }

    a {
      font-size: 2.3rem;
      text-decoration: none;
      color: @black;
      background-color: @blue;
      padding: 0.3rem 7.5rem;
      border-radius: @border-radius;
      transition: background-color 0.2s;

      &:hover {
        background-color: @blue-secondary;
      }
    }
  }
}