nav {
  margin-top: 2.2rem;
}

nav a {
  font-size: 1.6rem;
}

// Top
.upper-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3.5rem;
}

.left-nav {
  display: flex;
  align-items: flex-start;
}

.right-nav {
  display: flex;
  align-items: flex-start;
}

.logo {
  font-size: 3rem;
  margin: 0 2.1rem 0 4rem;
}

.left-nav input {
  width: 36.2rem;
  height: 3.2rem;
}

.left-nav a {
  margin: 0 2rem 0;

  &:first-of-type {
    margin-left: 1rem;
  }
}

.right-nav a {
  margin: 0 1.2rem 0;
}

// Bottom
.lower-nav {
  display: flex;
  justify-content: space-evenly;
}