nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.2rem 0 3.5rem;

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: @black;
  }
}

.left-nav {
  display: flex;
  align-items: center;

  .logo {
    width: 14rem;
    margin: 0 0.1rem 0 2.3rem;
  }

  a {
    margin: 0 1rem 0;
  
    &:first-of-type {
      margin-left: 1rem;
    }
  }
}

.right-nav {
  display: flex;
  align-items: center;

  a {
    margin: 0 1.2rem 0;
    font-size: 1.6rem;
  }
}
