// Main nav
.main-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  align-items: center;
  height: @nav-height;
  z-index: 1;

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: @black;
  }
}

.nav-separation {
  height: @nav-height;
}

.left-nav {
  display: flex;
  align-items: center;

  .left-links {
    @media @mobile-view {
      display: none;
    }
  }

  .logo {
    width: 14rem;
    margin: 0 0.1rem 0 2.3rem;
  }

  a {
    margin: 0 1rem 0;

    &:first-of-type {
      margin-left: 1rem;
    }
  }
}

.right-nav {
  display: flex;
  align-items: center;

  @media @mobile-view {
    display: none;
  }

  a {
    margin: 0 1.2rem 0;
    font-size: 1.6rem;
  }
}

.hamburger {
  margin-right: 2rem;
  display: none;

  @media @mobile-view {
    display: block;
  }

  .hamburger-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

// Mobile nav
.mobile-nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
  text-align: center;
  top: @nav-height;
  right: -@mobile-nav-width;
  bottom: 0;
  transition: right 0.2s;
  z-index: 1;

  &.visible {
    right: 0rem;

    @media @desktop-view {
      display: none;
    }
  }

  a {
    color: @black;
    text-decoration: none;
    font-size: 2.5rem; 
    padding: 2rem;
    width: @mobile-nav-width;
  }
}

.mobile-nav-login-signup {
  display: flex;
  flex-direction: column;

  a {
    font-size: 3rem;
  }
}